html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app-container {
  background: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  margin-bottom: 0;
  padding-bottom: 5rem;
  color: #eee;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 500px;
}

.checkbox-group {
  flex-direction: row;
  align-items: center;
}

.checkbox-group label {
  font-size: 0.825rem;
  margin-left: 10px;
}

.form-group label {
  color: #eee;
  font-weight: 500;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 1px solid 444;
}

.form-group input::placeholder {
  color: #999;
}

.form-group .input-error {
  outline: 1px solid rgb(255, 72, 72);
}

.form-group .error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}

.error-message {
  color: rgb(255, 72, 72);
  margin-top: 8px;
}

.form-group select {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-group button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #0f75bc;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 500ms ease;
}

.form-group button:hover {
  cursor: pointer;
  background-color: #06377b;
}

header {
  background-color: #f1f0f0;
  width: 100%;
}

.first-image {
  text-align: center;
  cursor: pointer;
  padding: 2rem;
}

.first-image img {
  max-width: 100%;
}

.form-textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  resize: vertical;
  min-height: 100px;
  font-family: "Poppins", sans-serif;
}

.form-textarea::placeholder {
  color: #999;
}

.form-textarea.input-error {
  outline: 1px solid rgb(255, 72, 72);
}

.my-reports-container {
  background-color: #191919;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

.card {
  width: 30rem;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #111;
}

.card-content {
  color: #eee;
  font-size: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

hr {
  width: 104rem;
}
